# =========================================================================
# Compilatoare și fișiere obiect / binare
# =========================================================================
*.o
*.obj
*.so
*.dylib
*.dll
*.exe
*.out
*.a
*.lib

# =========================================================================
# Directoare de Build / Ieșire
# =========================================================================
build/
Build/
bin/
obj/
out/
x64/
x86/
Debug/
Release/

# =========================================================================
# Visual Studio Code
# =========================================================================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json

# =========================================================================
# Visual Studio (MSVC)
# =========================================================================
.vs/
*.user
*.userosv
*.suo
*.userprefs
*.sln.docstates
*.VC.db
*.VC.opendb
*.ipch

# =========================================================================
# Sistem de operare & Loguri
# =========================================================================
.DS_Store
Thumbs.db
*.log
*.tmp